body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.submit{
  margin-top: 10px ;
}
.sumbit select{
  margin-top: 10px;
  /* margin-bottom: 10px; */
}
.submit input[type="submit"]
{
  margin-top: 10px;
}
textarea{
  padding: 10px;
  color: red;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.226);
}